<html>
    <head>
        <meta charset="UTF-8">
        <title>Passwordless Auth</title>
    </head>
    <body>
        <h2>Sign-in Form</h2>
        <form action="/sign-in" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <button>Sign-in</button>
        </form>
        <br />
        <br />
        <p>Don't panic if you can't find the password field in the Sign-in form.</p>
        <p>It doesn't require one ;)</p>
    </body>
</html>