<html>
    <head>
        <meta charset="UTF-8">
        <title>Passwordless Auth</title>
    </head>
    <body>
        <h2>Update User Form</h2>
        <form action="/update-user" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="publickey">Public Key:</label>
            <input type="text" id="publickey" name="publickey" required>
            <button>Update User</button>
        </form>
    </body>
</html>